<!-- Modal -->
<div
  class="modal fade bg-black"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="cartModalLabel"
  aria-hidden="true"
  data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cartModalLabel">YOUR CART [{{ cart.item_count }}]</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for item in cart.items %}
          <div class="cart-item">
            <h2>{{ item.product.title }}</h2>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: {{ item.price | money }}</p>
            <p>SKU: {{ item.sku }}</p>
            <!-- Add more item details as needed -->
          </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <a href="/checkout" class="btn btn-primary d-block">Checkout</a>
      </div>
    </div>
  </div>
</div>