<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title fs-5" id="cartModalLabel">YOUR CART [{{ cart.item_count }}]</div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <div class="modal-body" id="cartItems">
      <div class="loading_overlay cart_overlay"></div>
      {% if cart.item_count == 0 %}
        <p>The cart is empty.</p>
      {% else %}
        {% for item in cart.items %}
          <div class="cart-item">
            <div class="cart-item-img">
              <img src="{{ item.product.featured_image.src | img_url: 'medium' }}" alt="{{item.product.title}}">
            </div>
            <div class="cart-item-details">
              <div class="cart-item-title">{{ item.product.title }}
                <a
                  href="#"
                  class="cart-quantity-delete"
                  data-item-id="{{ item.id }}">Delete</a>
              </div>
              <hr>
              <div class="cart-item-quantity">
                Quantity
                <div class="quantity">
                  <a
                    href="#"
                    class="cart-quantity-minus"
                    data-item-quantity="{{ item.quantity }}"
                    data-item-id="{{ item.id }}">
                    <span>-</span>
                  </a>
                  <input
                    name="quantity"
                    type="text"
                    class="cart-quantity-input"
                    value="{{ item.quantity }}">
                  <a
                    href="#"
                    class="cart-quantity-plus"
                    data-item-quantity="{{ item.quantity }}"
                    data-item-id="{{ item.id }}">
                    <span>+</span>
                  </a>
                </div>
              </div>
              <hr>
              <div class="cart-item-price">
                {{ item.price | money }}
                <span>{{ item.variant_title | json }}</span>
              </div>
            </div>
          </div>
          <hr>
        {% endfor %}
      {% endif %}
    </div>
    {% if cart.item_count > 0 %}
      <div class="modal-footer">
        <a href="/checkout" class="btn btn-primary checkout-btn">Checkout
          <span>{{ cart.total_price | money }}</span>
        </a>
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Cart Modal Items"
  }
{% endschema %}