<footer class="footer">
  <div class="container">
    <div class="ftr-frm">
      <form id="newsletter-form">
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required>
        <input type="submit" value="submit"></input>
      </form>
      <p id="newsletter-response"></p>

      {%- assign formId = 'Contact_' | append: section.id -%}
    {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field' %}
      {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>
          {{ 'general.newsletter_form.confirmation' | t }}
        </p>
      {%- endif -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group {% if form.errors %} input-group--error{% endif %}">
        <input type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field{% if form.errors %} input--error{% endif %}"
          value="{{ form.email }}"
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
          aria-required="true"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {% endif %}
          >
        <span class="input-group__btn">
          <button type="submit" class="btn" name="commit">
            <span>{{ 'general.newsletter_form.submit' | t }}</span>
          </button>
        </span>
      </div>
      {%- if form.errors contains 'email' -%}
        <span id="{{ formId }}-email-error" class="input-error-message">
          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
          {% include 'icon-error' %}
          <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
        </span>
      {%- endif -%}
    {% endform %}
    <!-- End newsletter signup form -->
    </div>
    <div class="row ftr-content-wrap">
      <div class="col-md-4 left">
        <p>THE UNDISPUTED KING <br>OF BOLD COFFEE</p>
      </div>
      <div class="col-auto">
        <ul class="ftr-menu">
          {% for link in linklists.footer-extra-menu.links %}
            <li>
              <a class="{% if link.current %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 right">
        <p>
          <a href="{{ routes.root_url }}">@COBRASCOFFEE</a>
        </p>
      </div>
    </div>
    <div class="ftr-big-text">
      <h2>COBRAS
        COFFEE</h2>
    </div>
    <div class="row ftr-content-wrap">
      <div class="col-md-4 left">
        <p>
          <a href="{{ routes.root_url }}">©COBRAS COFFEE</a>
          2023. ALL RIGHTS RESERVED</p>
      </div>
      <div class="col-md-4 mid">
        <a href="/pages/termsofservice">Terms</a>
      </div>
      <div class="col-md-4 right">
        <a href="/pages/termsofservice">Privacy</a>
      </div>
    </div>
  </div>
</footer>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const newsletterForm = document.getElementById("newsletter-form");
    const responseMessage = document.getElementById("newsletter-response");

    newsletterForm.addEventListener("submit", function(e) {
      e.preventDefault();

      const email = newsletterForm.querySelector("input[name='email']").value;

      var action  = '/contact?';
      action += encodeURIComponent('form_type') +'='+ encodeURIComponent('customer');
      action += '&'+ encodeURIComponent('contact[tags]') +'='+ encodeURIComponent('newsletter');
      action += '&'+ encodeURIComponent('utf8') +'='+ encodeURIComponent('✓');
      action += '&'+ encodeURIComponent('contact[email]') +'='+ encodeURIComponent(email);

      fetch(action, {
        method: 'POST',
      }).then(function(response) {
        return response.json();
      }).then(function(data) {
        console.log(data)
        if (data.status === 'success') {
          responseMessage.textContent = 'Thank you for subscribing!';
        } else {
          responseMessage.textContent = 'Subscription failed. Please try again later.';
        }
      }).catch(function(error) {
        responseMessage.textContent = 'Subscription failed. Please try again later.';
        console.error('Error subscribing to the newsletter:', error);
      });
    });
  });
</script>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "blocks": [
      {
        "type": "@app"
      }
    ],
    "settings": []
  }
{% endschema %}