<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        {% for link in linklists.collection-menu.links %}
          <li>
            <a class="{% if link.current %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="product-color-filter">
      <ul>
        <li>
          <div class="c-checkbox color1">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color2">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color3">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
      </ul>
    </div>
    <div class="row product-list">
      {%- for product in collection.products -%}
        <div class="col-md-4 item">
          <div class="product-boxx">
            <a href="#" class="f-img">
              <img
                class="front"
                src="{{ product | img_url: 'master' }}"
                alt="">
              <img
                class="back"
                src="{{ product | img_url: 'master' }}"
                alt="">
            </a>
            <h4>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h4>
            <a href="{{ product.url }}" class="btn">ADD {{ {- product.selected_or_first_available_variant.unit_price | money -}}<i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}