<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        {% for link in linklists.collection-menu.links %}
          <li class="{% if link.current %}active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% assign specific_slug = "apparel" %}
    {% assign current_url = request.url %}

    {% if current_url contains specific_slug %}{% endif %}

    {% for product in collections.all.products %}
      {% if product.type == 'Clothes' %}
        {% if product.variants.size > 1 %}
          {{ option | json }}
          {% for option in product.options %}
            {{ option.name }}
            {% for value in option.values %}
              {{ value }}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}


    <div class="product-color-filter">
      <ul>
        <li>
          <div class="c-checkbox color1">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color2">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
        <li>
          <div class="c-checkbox color3">
            <input type="checkbox">
            <label></label>
          </div>
        </li>
      </ul>
    </div>

    <div class="row product-list">
      {%- for product in collection.products -%}
        <div class="col-md-4 item">
          <div class="product-boxx">
            <a href="{{ product.url }}" class="f-img">
              <img
                class="front"
                src="{{ product | img_url: 'master' }}"
                alt="">
              <img
                class="back"
                src="{{ product | img_url: 'master' }}"
                alt="">
            </a>
            <h4>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h4>
            <a href="{{ product.url }}" class="btn">ADD {{ product.price | money }}<i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}