<!-- product details section start -->
<section class="product-details-sec">
  <div class="container2">
    <div class="row">
      <div class="col-md-5">
        <div class="product-thumb-slider">
          {% for media in product.media %}
            <div>
              <img src="{{ media | img_url: 'master'}}" alt="{{ product.title }}{{ forloop.index }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-7 product-details-col">
        <div class="row">
          <div class="col-md-6">
            <h4 class="product-details-stitle">Cobras {{ product.type }}</h4>
            <h3>{{ product.title }}</h3>
            <div class="ratting">
              <span>
                <i class="fa-solid fa-star"></i>
              </span>
              <span>
                <i class="fa-solid fa-star"></i>
              </span>
              <span>
                <i class="fa-solid fa-star"></i>
              </span>
              <span>
                <i class="fa-solid fa-star"></i>
              </span>
              <span>
                <i class="fa-solid fa-star"></i>
              </span>
            </div>
            <ul>
              <li>X BAKER CHOCOLATE</li>
              <li>X CARAMELIZED SUGAR</li>
            </ul>
            <h4>GROUND COFFEE</h4>
            <a href="#" class="btn btn2">ADD {{ product.price }}
              <i class="fas fa-chevron-right"></i>
            </a>
          </div>
          <div class="col-md-6 product-details-col2">
            <h4>Bold</h4>
            <h4>250G (8.8OZ)</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product detail section end -->

<!-- Big text section -->
<section class="sec-2">
  <div class="container">
    <h2>COBRAS
      COFFEE</h2>
  </div>
</section>
<!-- Big text section end -->

<!-- recent product section start -->
<section class="recent-product">
  <div class="container2">
    <div class="row product-list">
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 item">
        <div class="product-boxx">
          <a href="#" class="f-img">
            <img
              class="front"
              src="images/product1-f.webp"
              alt="">
            <img
              class="back"
              src="images/product1-b.webp"
              alt="">
          </a>
          <h4>
            <a href="#">EK-LS-01 Tee Shirt</a>
          </h4>
          <a href="#" class="btn">ADD 35 USD<i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- recent product section end -->
{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section"
  }
{% endschema %}