<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        {% for link in linklists.collection-menu.links %}
          <li class="{% if link.current %}active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% assign specific_slug = "apparel" %}
    {% assign current_url = request.url %}

    {% if current_url contains specific_slug %}{% endif %}

    {% assign colors_array = "" %}

    {% for product in collections.all.products %}
      {% if product.type == 'Clothes' %}
        {% if product.variants.size > 1 %}
          {% for option in product.options %}
            {% if option == 'color' %}
              {% assign index = forloop.index0 %}
              {% for variant in product.variants %}
                {% assign colors_array = colors_array | append: variant.options[index] | append: "," %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {{ request.url }}

    {% assign colors_array = colors_array | remove: '\' | split: "," %}

    {% assign unique_array = colors_array[0] %}

    {% for item in colors_array %}
      {% unless unique_array contains item %}
        {% assign unique_array = unique_array | join: "," | append: "," | append: item | split: "," %}
      {% endunless %}
    {% endfor %}

    <div class="product-color-filter">
      <ul>
        {% for color in unique_array %}
          {% assign color_class = "color1" %}
          {% if color == "Black" %}
            {% assign color_class = "color1" %}
          {% elsif color == "Camel" %}
            {% assign color_class = "color2" %}
          {% elsif color == "White" %}
            {% assign color_class = "color3" %}
          {% endif %}
          <li>
            <div class="c-checkbox {{color_class}}">
              <input type="checkbox">
              <label></label>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row product-list">
      {%- for product in collection.products -%}
        <div class="col-md-4 item">
          <div class="product-boxx">
            <a href="{{ product.url }}" class="f-img">
              <img
                class="front"
                src="{{ product | img_url: 'master' }}"
                alt="">
              <img
                class="back"
                src="{{ product | img_url: 'master' }}"
                alt="">
            </a>
            <h4>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h4>
            <a href="{{ product.url }}" class="btn">ADD {{ product.price | money }}<i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}