<!-- product details section start -->
<section class="product-details-sec">
  <div class="container2">
    <div class="row">
      <div class="col-md-5">
        <div class="product-thumb-slider">
          {% for media in product.media %}
            <div>
              <img src="{{ media | img_url: 'master'}}" alt="{{ product.title }}{{ forloop.index }}">
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-7 product-details-col">
        <div class="row">
          <div class="col-md-12">
            <h4 class="product-details-stitle">{{ product.metafields.arena.product_category_type }}</h4>
            <h3>{{ product.title }}</h3>
            <div class="ratting">
              {% assign n = product.metafields.arena.product_rating %}

              {% if n < 1 %}
                <p>Not rated yet</p>
              {% else %}

                {% for i in (1..n) %}
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                {% endfor %}
              {% endif %}


            </div>
            {{ product.metafields.arena.product_key_details }}
            {% if product.type == 'Coffee' %}
              <div class="d-flex justify-content-between">GROUND COFFEE 250G (8.8OZ)</div>
            {% endif %}
            <div class="pro-details-btn-wrap">
              <div class="custom-select">
                <select>
                  <option value="black">Black</option>
                  <option value="silver">Silver</option>
                  <option value="White">White</option>
                  <option value="Yellow">Yellow</option>
                  <option value="orrange">Orrange</option>
                  <option value="purple">Purple</option>
                </select>
              </div>
              <div class="custom-select">
                <select>
                  <option value="0">S</option>
                  <option value="1">M</option>
                  <option value="2">L</option>
                  <option value="3">XL</option>
                  <option value="4">2XL</option>
                </select>
              </div>
              <a
                class="btn btn2 add-to-cart"
                data-product-id="{{ product.id }}"
                data-variant-id="{{product.variants[0].id }}">ADD {{ product.price | money }}
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product detail section end -->

{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section"
  }
{% endschema %}