<section class="product-sec">
  <div class="container2">
    <div class="product-cat-filter">
      <ul>
        {% for link in linklists.collection-menu.links %}
          <li class="{% if link.current %}active{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% assign current_url = request.host | append: request.path %}

    {% if current_url contains "apparel" or current_url contains "gear" %}

      {% assign colors_array = "" %}

      {% for product in collections.all.products %}
        {% if current_url contains "apparel" %}
          {% assign type_check = 'Clothes' %}
        {% elsif current_url contains "gear" %}
          {% assign type_check = 'Gear' %}
        {% endif %}
        {% if product.type == type_check %}
          {% if product.variants.size > 0 %}
            {% for option in product.options %}
              {% if option == 'color' %}
                {% assign index = forloop.index0 %}
                {% for variant in product.variants %}
                  {% assign colors_array = colors_array | append: variant.options[index] | append: "," %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
      {% endfor %}



      {% assign colors_array = colors_array | remove: '\' | split: "," %}

      {% assign unique_array = colors_array[0] %}

      {% for item in colors_array %}
        {% unless unique_array contains item %}
          {% assign unique_array = unique_array | join: "," | append: "," | append: item | split: "," %}
        {% endunless %}
      {% endfor %}

      <div class="product-color-filter">
        {% if current_url contains "apparel" %}
          {% assign type_check = 'Clothes' %}
          {% assign collection_url = '"/collections/apparel/products.json"' %}
        {% elsif current_url contains "gear" %}
          {% assign type_check = 'Gear' %}
          {% assign collection_url = '"/collections/gear/products.json"' %}
        {% endif %}
        <input
          type="hidden"
          name="product_type"
          value="{{type_check}}">
        <input
          type="hidden"
          name="collection_url"
          value="{{collection_url}}">
        <ul>
          {% for color in unique_array %}
            {% assign color_class = "color1" %}
            {% if color == "Black" %}
              {% assign color_class = "color1" %}
            {% elsif color == "Camel" %}
              {% assign color_class = "color2" %}
            {% elsif color == "Maroon" %}
              {% assign color_class = "color4" %}
            {% elsif color == "White" %}
              {% assign color_class = "color3" %}
            {% endif %}
            <li>
              <div class="c-checkbox {{color_class}}">
                <input
                  type="checkbox"
                  name="product_color"
                  value="{{color}}">
                <label></label>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}


    <div class="row product-list" id="productList">
      <div class="loading_overlay product_grid_overlay"></div>
      {%- for product in collection.products -%}
        <div class="col-md-4 item">
          <div class="product-boxx">
            <a href="{{ product.url }}" class="f-img">
              {% assign front_img = product.images[0].src %}
              {% assign back_img = product.images[1].src %}

              {% if product.type == "Coffee" %}
                {% assign front_img = product.images[1].src %}
                {% assign back_img = product.images[0].src %}
              {% endif %}
              <img
                class="front"
                src="{{ front_img | product_img_url: 'master' }}"
                alt="{{ product.title }}">
              <img
                class="back"
                src="{{ back_img | product_img_url: 'master' }}"
                alt="{{ product.title }}">
            </a>
            <h4>
              <a href="{{ product.url }}">{{ product.title }}</a>
            </h4>
            {% if product.variants.size > 1 %}
              <a class="btn" href="{{ product.url }}">VIEW MORE {{ product.price | money }}<i class="fas fa-chevron-right"></i>
              </a>
            {% else %}
              <a
                class="btn add-to-cart"
                data-product-id="{{ product.id }}"
                data-variant-id="{{product.variants[0].id }}">ADD {{ product.price | money }}<i class="fas fa-chevron-right"></i>
              </a>
            {% endif %}
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": []
  }
{% endschema %}

<script>
  // Get a reference to the checkbox element
  var checkboxes = document.querySelectorAll('input[name="product_color"]')

  var colors = []

// Add a change event listener to the checkbox
  checkboxes.forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
      if (checkbox.checked) {
        colors.push(this.value)
        fetchProduct(colors)
      } else { // Checkbox is unchecked
        colors = colors.filter((element) => element !== this.value);
        fetchProduct(colors)
      }
    });
  })

  function fetchProduct(colors) {
    document.getElementsByClassName('product_grid_overlay')[0].style.display = 'block'
    var type_check = document.querySelector('input[name="product_type"]').value

    var collection_url = document
      .querySelector('input[name="collection_url"]')
      .value

      fetch(collection_url)
      .then(function(response) {
        if (! response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json(); // Parse the response as JSON
      })
      .then(function(data) {
        var filtered_product = []
        if (colors.length == 0) {
          filtered_product = data.products
        } else {
          filtered_product = data.products.filter((element) => {
            for (let i = 0; i < element.options.length; i++) {
              let option = element.options[i];
              if (element.product_type == type_check && option.name == 'color' && colors.includes(option.values[0])) {
                return true
              } else {
                return false
              }
            }
          });
        }

        var html = '<div class="loading_overlay product_grid_overlay"></div>'
        for (var i = 0; i < filtered_product.length; i++) {
          html += `<div class="col-md-4 item">
        <div class="product-boxx">
          <a href="/products/${
            filtered_product[i].handle
          }" class="f-img">
            <img
              class="front"
              src="${
            filtered_product[i].images[0].src
          }"
              alt="">
            <img
              class="back"
              src="${
            filtered_product[i].images[1].src
          }"
              alt="">
          </a>
          <h4>
            <a href="${
            filtered_product[i].url
          }">${
            filtered_product[i].title
          }`;

          if (filtered_product[i].variants.length > 1) {
            html += `</a>
            </h4>
            <a
              class="btn"
              href="${
              filtered_product[i].url
            }"
              >VIEW MORE ${
              filtered_product[i].variants[0].price
            }<i class="fas fa-chevron-right"></i>
            </a>`;
          } else {
            html += `</a>
        </h4>
        <a
          class="btn add-to-cart"
          data-product-id="${
              filtered_product[i].id
            }"
                data-variant-id="${
              filtered_product[i].variants[0].id
            }"
          >ADD TO ${
              filtered_product[i].variants[0].price
            }<i class="fas fa-chevron-right"></i>
        </a>`;
          } html += `
        </div>
      </div>`;
        }


        document.getElementById('productList').innerHTML = html
        document.getElementsByClassName('product_grid_overlay')[0].style.display = 'none'
      })
      .catch(function(error) {
        console.log(error)
      })
  }
</script>