<section class="accordion-sec section">
  <div class="container">
    <div class="start-sub">
      <h6>Embrace The Strike</h6>
      <i class="fas fa-chevron-down"></i>
    </div>

    <div class="accordion pro-accordion" id="accordionExample">
      <!-- new class added "pro-accordion" -->
      {%- assign slider_collections = section.settings.collection.products -%}
      {% assign accordion_counter = 1 %}

      {% for product in slider_collections %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{accordion_counter}}">
            <button
              class="accordion-button {% if accordion_counter > 1 %} collapsed {% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse{{accordion_counter}}"
              aria-expanded="{% if accordion_counter == 1 %} true {% else %} false {% endif %}"
              aria-controls="collapse{{accordion_counter}}">
              <div class="acc-head">
                <div class="title">
                  <h2>{{ product.title }}</h2>
                </div>
                <div class="ratting">
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                  <span>
                    <i class="fa-solid fa-star"></i>
                  </span>
                </div>
                <div class="quantity">
                  <h4>BOLD</h4>
                </div>
                <div class="color">
                  <span style="background-color: #362204"></span>
                </div>
              </div>
            </button>
          </h2>
          <div
            id="collapse{{accordion_counter}}"
            class="accordion-collapse collapse {% if accordion_counter == 1 %} show {% endif %}"
            aria-labelledby="heading{{accordion_counter}}"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="left">
                <img
                  loading="lazy"
                  src="{{ product | img_url: 'master' }}"
                  alt="{{ product.title }}" />
              </div>
              <div class="right">
                <div class="acc-body-content">
                  <ul>
                    <li>X BAKER CHOCOLATE</li>
                    <li>X CARAMELIZED SUGAR</li>
                  </ul>
                  <h4>GROUND COFFEE</h4>
                  <a href="{{ product.url }}" class="btn">ADD 35 USD
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </div>
                <div class="acc-body-content">
                  <h4>250G (8.8OZ)</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% assign accordion_counter = accordion_counter | plus: 1 %}
      {% endfor %}
    </div>

    <div class="end-sub">
      <i class="fas fa-chevron-up"></i>
      <h6>Dominate</h6>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product Accordion",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Product Accordion"
      }
    ]
  }
{% endschema %}