<!-- recent product section start -->
<section class="recent-product">
  <div class="container2">
    <div class="row product-list">
      {%- assign recent_collections = section.settings.collection.products -%}

      {% for product in recent_collections %}
        <div class="col-md-4 item">
          <div class="product-boxx">
            <a href="{{ product.url }}" class="f-img">
              <img
                class="front"
                src="{{ product.featured_image | image_url: 'master' }}"
                alt="">
              <img
                class="back"
                src="{{ product.featured_image | image_url: 'master' }}"
                alt="">
            </a>
            <h4>
              <a href="#">{{ product.title }}</a>
            </h4>
            <a href="#" class="btn">ADD {{ product.price | money }}<i class="fas fa-chevron-right"></i>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- recent product section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}