<!-- product details slider section start -->
<section class="product-details-slider-sec related-products" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel">
      {% assign current_product = product %}

      {{ current_product.tags | json }}
      {% for product in collections.all.products %}
        {{ product.tags | json }}
        {{ product.handle | json }}

      {% endfor %}
    </div>
  </div>
</section>

<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}