<!-- product details slider section start -->
<section class="product-details-slider-sec related-products" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="container-fluid">
    <div class="product-details-slider slick-carousel">
      {% assign current_product = product %}

      {{ current_product.handle | json }}
      {% for product in all_products %}
        {{ product.handle | json }}
        {% unless current_product.handle == product.handle %}
          {% for tag in product.tags %}
            {% if current_product.tags contains tag %}
              <!-- Display the related product -->
              <div>
                <div class="product-details-sbox">
                  <a href="{{ product.url }}"><img src="{{ product | img_url: 'master' }}" alt="{{ product.title }}"></a>
                </div>
              </div>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- product detail slider section end -->

{% schema %}
  {
    "name": "t:sections.related-products.name",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}