{% assign faq_data = page.metafields.arena.faqs %}

<section class="faq-sec">
  <div class="container">
    <h1 class="title">FAQ</h1>
    <div class="faq-nav">
      <ul
        class="nav nav-tabs"
        id="myTab"
        role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="btn active"
            id="tab1"
            data-bs-toggle="tab"
            data-bs-target="#tab-content1"
            type="button"
            role="tab"
            aria-controls="tab-content1"
            aria-selected="true">ALL</button>
        </li>
        <li>
          <button
            class="btn"
            id="tab2"
            data-bs-toggle="tab"
            data-bs-target="#tab-content2"
            type="button"
            role="tab"
            aria-controls="tab-content2"
            aria-selected="false">my orders</button>

        </li>

        <li>
          <button
            class="btn"
            id="tab3"
            data-bs-toggle="tab"
            data-bs-target="#tab-content3"
            type="button"
            role="tab"
            aria-controls="tab-content3"
            aria-selected="false">Shipping</button>
        </li>
        <li>
          <button
            class="btn"
            id="tab4"
            data-bs-toggle="tab"
            data-bs-target="#tab-content4"
            type="button"
            role="tab"
            aria-controls="tab-content4"
            aria-selected="false">Coffee</button>
        </li>
      </ul>
    </div>
    <div class="tab-content faq-tbs-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tab-content1"
        role="tabpanel"
        aria-labelledby="tab1">
        <button type="button" class="res-tbs-btn btn">All</button>
        <div class="accordion faq-accordion active" id="accordionAll">
          {% assign all_index = 0 %}

          {% for faq in faq_data %}
            {% if faq.type == 'coffee' %}

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingAll{{all_index}}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseAll{{all_index}}"
                    aria-expanded="false"
                    aria-controls="collapseAll{{all_index}}">
                    {{ faq.title }}
                  </button>
                </h2>
                <div
                  id="collapseAll{{all_index}}"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingAll{{all_index}}"
                  data-bs-parent="#accordionAll">
                  <div class="accordion-body">
                    {{ faq.content }}
                  </div>
                </div>
              </div>

              {% assign all_index = all_index | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-content2"
        role="tabpanel"
        aria-labelledby="tab2">
        <button type="button" class="res-tbs-btn btn">My orders</button>
        <div class="accordion faq-accordion" id="accordionOrders">
          {% assign orders_index = 0 %}

          {% for faq in faq_data %}
            {% if faq.type == 'orders' %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{faq.type}}{{orders_index}}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{faq.type}}{{orders_index}}"
                    aria-expanded="false"
                    aria-controls="collapse{{faq.type}}{{orders_index}}">
                    {{ faq.title }}
                  </button>
                </h2>
                <div
                  id="collapse{{faq.type}}{{orders_index}}"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading{{faq.type}}{{orders_index}}"
                  data-bs-parent="#accordionOrders">
                  <div class="accordion-body">
                    {{ faq.content }}
                  </div>
                </div>
              </div>
              {% assign orders_index = orders_index | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-content3"
        role="tabpanel"
        aria-labelledby="tab3">
        <button type="button" class="res-tbs-btn btn">Shipping</button>
        <div class="accordion faq-accordion" id="accordionShipping">
          {% assign shipping_index = 0 %}

          {% for faq in faq_data %}
            {% if faq.type == 'shipping' %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{faq.type}}{{shipping_index}}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{faq.type}}{{shipping_index}}"
                    aria-expanded="false"
                    aria-controls="collapse{{faq.type}}{{shipping_index}}">
                    {{ faq.title }}
                  </button>
                </h2>
                <div
                  id="collapse{{faq.type}}{{shipping_index}}"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading{{faq.type}}{{shipping_index}}"
                  data-bs-parent="#accordionShipping">
                  <div class="accordion-body">
                    {{ faq.content }}
                  </div>
                </div>
              </div>
              {% assign shipping_index = shipping_index | plus: 1 %}
            {% endif %}

          {% endfor %}
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-content4"
        role="tabpanel"
        aria-labelledby="tab4">
        <button type="button" class="res-tbs-btn btn">Coffee</button>
        <div class="accordion faq-accordion" id="accordionCoffee">
          {% assign coffee_index = 0 %}

          {% for faq in faq_data %}
            {% if faq.type == 'coffee' %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{faq.type}}{{coffee_index}}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{faq.type}}{{coffee_index}}"
                    aria-expanded="false"
                    aria-controls="collapse{{faq.type}}{{coffee_index}}">
                    {{ faq.title }}
                  </button>
                </h2>
                <div
                  id="collapse{{faq.type}}{{coffee_index}}"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading{{faq.type}}{{coffee_index}}"
                  data-bs-parent="#accordionCoffee">
                  <div class="accordion-body">
                    {{ faq.content }}
                  </div>
                </div>
              </div>
              {% assign coffee_index = coffee_index | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</section>